<!DOCTYPE html>
<html>
    {% load static %} {% load leaflet_tags %}
    <head>
        {% leaflet_js %} {% leaflet_css %}
        <title>Welcome</title>
        <style>
        div#gis {
            height: 500px;
        }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
    </head>
    <body>
        <h1>GeoDjango</h1>
        <br />
        {% csrf_token %}
        <label for="address">Address</label>
        <input type="text" name="address" id="address">
        <br/>
        <label for="radius">Radius</label>
        <input type="number" name="radius" id="radius" step="any">
        <br/>
        <button type="submit" onclick="getData()">Submit</button>
        <br>
            

    <script type="text/javascript">   
        var mymap;  
       
       window.addEventListener("map:init", function (e) {
                 var detail = e.detail;
                 mymap = detail  
        //          if(mymap){
        //     L.Control.geocoder().addTo(mymap.map);
        //     var geocoder = L.Control.geocoder().on('markgeocode', function(event) {                
        //         var center = event.geocode.center;
        //         L.marker(center).addTo(mymap.map);
        //     }).addTo(mymap.map);

        // }       

        }, false); 
        
    function getData(){
        address = document.getElementById('address').value 
        $.ajax({
          url:`https://maps.googleapis.com/maps/api/geocode/json?address={${address}}&key=AIzaSyBsWAX9Qnw00FuKFHFhFLePluscku_fU3I`,
          type:`GET`,              
          contentType: 'application/json;charset=utf-8',  
          success:function(response){
              lat = response.results[0].geometry.location.lat
              lon=  response.results[0].geometry.location.lng 
              rad=document.getElementById('radius').value   
              drawMap(lat,lon)
          }        
      })
      
    }
        
        
    function drawMap(latitude,longitude,radius){  
       
    let csrftoken = document.cookie.replace(/(?:(?:^|.*;\s*)csrftoken\s*\=\s*([^;]*).*$)|^.*$/, "$1");  
    console.log(csrftoken)    
    lat= latitude
    lon=longitude     
    rad=radius
      $.ajax({
        url: "{% url 'data' %}" + "?latitude="+lat+"&longitude="+lon+"&radius="+rad,
        type: 'POST',
        dataType: 'json',
        headers: { "X-CSRFToken": csrftoken},
        contentType: 'application/json;charset=utf-8',      
        success:function(response){           
            response.features.map((map)=>{              
                Lat = map.geometry.coordinates[1]  
                Lon = map.geometry.coordinates[0]
                L.marker([Lat,Lon]).addTo(mymap.map)             
                       
            })
        },
        
    })     
    }      
       
            </script>
            {% leaflet_map "gis"  %}
            <!-- callback="window.layers" -->

        </body>

    </html>